.content {
	display: flex;
	margin-top: 10px;
}
.detailForm {
	width: 50%;
}
.jsonView {
	width: 50%;
}
.formRow {
	display: flex;
	label {
		width: 30%;
		margin: 1em;
	}
	input {
		width: 70%;
		margin: 3px;
		background: #bba7a7;
		color: white;
		font-size: 21px;
	}
}
input[type=submit] {
	width: 50%;
	background-color: #2d2e2fcc;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	background: #000000de;
	text-transform: uppercase;
}
[type=button] {
	width: 50%;
	background-color: #2d2e2fcc;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 12px;
	cursor: pointer;
	&:hover {
		background: #000000de;
		text-transform: uppercase;
	}
}
